<div class="container">
  <mat-card>
    <mat-card-title class="title"> Quizzes</mat-card-title>
  </mat-card>
  <div *ngFor="let q of quiz">
    <mat-card>
      <mat-card-title>{{q.label}}</mat-card-title>
      <mat-card-subtitle>{{q.description}}</mat-card-subtitle>
      <mat-card-actions>
        <!-- <button type="button" mat-raised-button >
          <a routerLink="/{{q.name}}" >Select this quiz</a>
        </button> -->
        <button type="button" mat-raised-button routerLink="/{{q.name}}">
          Select this quiz
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>